<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="MetadataContainer" connectionString="metadata=res://*/MetadataModel.csdl|res://*/MetadataModel.ssdl|res://*/MetadataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=BLACKBOX\SQLEXPRESS;Initial Catalog=TestMealCalc_Metadata;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
		<add name="OrderTracking_Metadata" connectionString="metadata=res://*/MetadataModel.csdl|res://*/MetadataModel.ssdl|res://*/MetadataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=BLACKBOX;Initial Catalog=OrderTracking_Metadata;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
		<add name="AdvancedMealCalc_Metadata" connectionString="metadata=res://*/MetadataModel.csdl|res://*/MetadataModel.ssdl|res://*/MetadataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=BLACKBOX;Initial Catalog=AdvancedMealCalc_Metadata;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<startup>
	</startup>
</configuration>
